h1 {
    color:aqua;
    font-family: cursive;
}

header li{ 
    list-style-type: none;
    background-color: navajowhite;

}

body { 
    background-color: beige;
    
}

p {
    font-size: 4em;
    font-color: blue;
}

img {
    hieght: 10%
    width: 10%
}
