h1 {
    color: lightslategrey;
    font-family: cursive;
    font-size: 65px;
    text-align: center;
}

header li {
    text-align: center;
    text-decoration: none;
    margin: 2% 0;
}

header li{ 
    list-style-type: none;
    background-color: navajowhite;
}

.desaturate {
    filter: greyscale(100%);
    
}

p {
    font-size: 4em;
    font-color: blue;
}

div li {
    background-color: lavender;
    color: purple;
    font-size: 50px;
}

.dylan {
    color:darkgoldenrod;
    text-align: justify;
    margin; 3% 0;
}

div h2 {
    color:darkred;
    font-size: 55px;
    font-family: sans-serif;
    text-align: center;
}

img {
    height: 40%;
    width: 40%;
}
